</main>

<footer class="site-footer">
    <div class="container footer-container">
        <div class="footer-col">
            <h4>Shared Reality</h4>
            <p>Don't just talk. Build worlds together.</p>
        </div>
        <div class="footer-col">
            <h4>Explore</h4>
            <ul>
                <li><a href="#">The Framework</a></li>
                <li><a href="#">Daily Drills</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Connect</h4>
            <div class="social-links">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; <%= new Date().getFullYear() %> Shared Reality Framework. All rights reserved.</p>
    </div>
</footer>

<!-- Dependencies: jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>